.sign-in {
    display: flex;
    align-items: center;
    width: 213px;
    height: 37px;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .sign-in img {
    width: 37px;
    height: 37px;
  
  }
  
  .sign-in-text {
    margin-left: 10px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16.5px;
    line-height: 19.97px;
  }

  .comment-section {
    display: flex;
    flex-direction: column; /* Ensures comments are stacked vertically */
    width: 80vh;
    margin-top: 20px;
  }
  